__pycache__/
*.pyc
.env
.env.*
!.env.example
venv/
.venv/
node_modules/
.DS_Store

# Python
.pytest_cache/
coverage/
*.egg-info/
dist/

# Django
media/
staticfiles/
backend/db.sqlite3

# IDEs
.idea/
.vscode/

# Frontend
frontend-admin/dist/
frontend-admin/.vite/
frontend-user/dist/
frontend-user/.vite/
*.log
